<nav class="nav">

  <div class="nav__logo">
    <a routerLink="/summary">
    <img src="assets/icons/logo-light.svg" alt="Join Logo" />
    </a>
  </div>

  <div class="nav__menu">
    @if (authService.loggetInUserUid()) {
      @for (item of menuItems; track item.route) {
        <a 
          [routerLink]="item.route" 
          routerLinkActive="active"
          class="nav__link"
        >
          <img [src]="'assets/icons/' + item.icon + '.svg'" [alt]="item.label" />
          <span>{{ item.label }}</span>
        </a>
      }
    } @else {
      <a routerLink="/login" class="nav__link">
        <img src="assets/icons/login.svg" alt="Login" />
        <span>Log In</span>
      </a>
    }
  </div>

  <div class="nav__footer">
    @for (link of footerLinks; track link.route) {
      <a 
        [routerLink]="link.route" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav__footer-link"
        [attr.data-text]="link.label"
      >
        {{ link.label }}
      </a>
    }
  </div>

</nav>