:host {
  width: 100%;
  min-width: 150px;
  display: block;
}

.task-card {
  background: #ffffff;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: var(--transition-fast);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-width: 150px;
  &:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.09);
  }
  &:active {
    cursor: grabbing;
    opacity: 0.8;
  }
}

.task-badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 8px;
  width: fit-content;
  color: white;
}

.badge-user-story {
  background-color: var(--category-user-story);
  margin-bottom: 14px;
}

.badge-technical-task {
  background-color: var(--category-technical-task);
  margin-bottom: 14px;
}

.task-title {
  font-size: 16px;
  color: var(--color-medium-blue);
  text-overflow: ellipsis;
  line-height: 1.4;
  hyphens: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
}

.task-description {
  color: var(--color-light-grey);
  line-height: 1.2;
  hyphens: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 14px 0;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: var(--color-primary-blue);
  transition: width 0.3s ease;
  border-radius: 8px;
}

.progress-text {
  white-space: nowrap;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  margin-left: -8px;
  &:first-child {
    margin-left: 0;
  }
}

.avatar-counter {
  background-color: var(--color-light-grey);
  color: var(--color-medium-blue);
  cursor: help;
  border: 2px solid white;
}

.priority-icon {
  width: 17px;
  height: 12px;
  flex-shrink: 0;
}

@media (min-width: 1025px) and (max-width: 1125px) {
  :host {
    max-width: 180px;
    width: 185px;
  }
}

@media (max-width: 1024px) {
  :host {
    width: 252px;
    min-width: 252px;
    max-width: 252px;
    flex-shrink: 0;
  }
  .task-card {
    width: 100%;
    height: 100%;
  }
  .task-badge {
    padding: 3px 20px;
  }
}

@media (max-width: 768px) {
  .priority-icon {
    width: 20px;
    height: 20px;
  }
}
